.be-legal {
	background-color: #6495ED; 
	color: #FFFFFF;
}
.be-activities {
	background-color: #BA55D3; 
	color: #FFFFFF
}
.be-eif {
	background-color: #3CB371;
	color: #FFFFFF;
}
.be-specs {
	background-color: #FF8C00;
	color: #FFFFFF;
}
.be-integration {
	background-color: #3CB371;
	color: #FFFFFF;
}
.be-governance {
	background-color: #9900CC;
	color: #FFFFFF;
}
