.be-legal {
	background-color: #6495ED; 
	color: #FFFFFF;
}
.be-organisational {
	background-color: #BA55D3; 
	color: #FFFFFF
}
.be-semantic {
	background-color: #3CB371;
	color: #FFFFFF;
}
.be-technical {
	background-color: #FF8C00;
	color: #FFFFFF;
}
